*,html,body,div,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: rgb(29, 230, 224);
}

.posts {
    margin: 50px 0;
    padding: 20px;
} 

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 20px 0;
}

.user__name {
    font-size: 30px;
    font-weight: 700;
}

.user__nickname {
    font-size: 30px;
    font-style: italic;
}

.user__email {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 20px;
}

.post__card {
    border: 1px dashed #444;
    padding-bottom: 330px;
}

.post__title {
    font-size: 40px;
    color: #000;
    margin-bottom: 15px;
}

.post__text {
    color: #222;
    font-size: 25px;
    line-height: 2;
}

.post__remove {
    margin-top: 20px;
    color: #333;
    padding: 10px 25px;
    border: none;
    outline: none;
    background-color: rgb(29, 230, 224);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}


